<nav class="black social">
  <div class="nav-wrapper">
    <ul class="left">
      <li *ngFor="let social of socialNetworks">
        <a *ngIf="social.estado" [href]="social.url" target="_blank"><i [class]="social.clase"></i></a>
      </li>
    </ul>
    <!--Show in desktop-->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <a class="waves-effect waves-light btn grey darken-2 btn-small">Registro</a>
      <a class="waves-effect waves-light btn red darken-4 btn-small">Iniciar sesión</a>
    </ul>
    <!--Show in mobile-->
    <ul id="nav-mobile" class="right hide-on-large-only">
      <a class="waves-effect waves-light btn grey darken-2 btn-floating btn-small"><i class="material-icons">face</i></a>
      <a class="waves-effect waves-light btn red darken-4 btn-floating btn-small"><i class="material-icons">exit_to_app</i></a>
    </ul>
  </div>
</nav>