<div class="row white">
    <div class="col s12">
        <div class="row">
            <h4 class="center-align">Proximos estrenos</h4>
        </div>
        <div class="row">
            <div class="col s12 m2 l2 card proximos-estrenos" *ngFor="let movie of premieres">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" [src]="movie.imagen">
                </div>
                <div class="card-content">
                    <a [href]="movie.trailer"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{ movie.nombre }}
                        <i class="material-icons">close</i>     
                    </span>
                    <p>
                        {{ movie.descripcion }}
                    </p>               
                </div>
            </div>
        </div>
    </div>
</div>